@font-face {
  font-family: NanumGothic;
  src: url(/font/NanumGothic-Regular.ttf);
}
:root {
  /* color */
  --white-color: rgb(255, 255, 255);
  --black-color: #000;
  --gray-color: #ddd;
  --main-color: #44dae3;
  --yellow-color: rgb(248, 248, 38);
  --background-color: #212121;
  /* font-size */
  --title-fontsize: 36px;
  --vlare-fontsize: 22px;
  --large-fontsize: 18px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: NanumGothic;
  list-style: none;
  color: var(--white-color);
  border-collapse: collapse;
}
button {
  border: none;
}
.title-font-family {
  font-family: "Noto Sans KR", sans-serif;
}
.main-color {
  color: var(--main-color);
}
.border-rounded {
  border-radius: 2px;
}
.header {
  display: flex;
  padding: 28px 36px;
  background: var(--black-color);
  justify-content: space-around;
}
.header .header-logo {
  font-size: var(--title-fontsize);
  display: flex;
}
.header .header-logo i {
  color: var(--yellow-color);
  display: block;
  margin: auto;
}
.header .header-logo p {
  margin: 0;
}
.header .header-menu {
  display: flex;
  margin: auto;
  padding-left: 128px;
}
.header .header-menu .menu {
  font-size: var(--large-fontsize);
  padding: 4px 16px;
}
.header .header-menu img {
  width: 22px;
  position: relative;
  left: 12px;
}
.main {
  width: 300vw;
  display: flex;
}
.main .main-img {
  width: 100vw;
}
.main .main-img img {
  display: block;
  width: 100%;
}
.main .main-img:first-child .main-container {
  position: absolute;
  right: 10%;
  top: 40%;
}
.main .main-img:first-child .main-container .main-box {
  border: 2px var(--white-color) solid;
  display: flex;
  margin-bottom: 16px;
  background: rgba(0, 0, 0, 0.8);
  padding: 16px;
}
.main .main-img:first-child .main-container .main-box p {
  margin: 0;
  padding: 4px;
  margin-right: 16px;
  color: var(--white-color);
  font-size: var(--vlare-fontsize);
  font-weight: 800;
}
.main .main-img:first-child .main-container .main-box .main-event {
  background: var(--main-color);
  color: var(--black-color);
}
.notice {
  background: var(--background-color);
  display: flex;
  justify-content: space-around;
  padding: 80px 80px;
}
.notice .card {
  width: 24%;
  background: var(--black-color);
  padding: 8px;
}
.notice .card:nth-child(1) .card-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/image/fizz_splash_12.jpg);
}
.notice .card:nth-child(2) .card-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/image/thresh_splash_8.jpg);
}
.notice .card:nth-child(3) .card-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/image/fiora_Splash_11.jpg);
}
.notice .card:nth-child(4) .card-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/image/irelia_splash_9.jpg);
}
.notice .card .card-image {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px;
}
.notice .card .card-image p {
  font-size: var(--vlare-fontsize);
  font-weight: 800;
}
.notice .card .card-image button {
  width: 86px;
  height: 32px;
  background-color: var(--gray-color);
  color: var(--black-color);
  border-radius: 4px;
  padding: 4px;
}
.icons {
  background: var(--background-color);
  margin: 0;
  position: relative;
  top: -16px;
  padding: 100px;
}
.icons > p {
  font-size: var(--title-fontsize);
  font-weight: 900;
  text-align: center;
}
.icons .icon {
  width: 50%;
  padding: 32px;
}
.icons .icon .icon-box {
  float: left;
  height: 64px;
  width: 64px;
  background: yellow;
  border-radius: 4px;
  margin: 32px;
}
.icons .icon .icon-box i {
  color: black;
  font-size: 48px;
  position: relative;
  top: 8px;
}
.icons .icon .icon-text {
  margin-left: 16px;
}
.icons .icon .icon-text p:first-child {
  font-weight: 800;
  font-size: var(--vlare-fontsize);
  margin: 0;
  margin-top: 16px;
}
.icons .icon .icon-text p:last-child {
  font-size: 14px;
}
.icons .icon {
  float: left;
}
.FAQ {
  background: var(--background-color);
  position: relative;
  bottom: 16px;
}
.FAQ > p {
  font-size: var(--title-fontsize);
  font-weight: 800;
  text-align: center;
}
.FAQ .FAQ-container {
  padding: 48px 64px;
}
.FAQ .FAQ-container .FAQ-item {
  padding: 8px 16px;
  background: #121212;
  box-shadow: 2px 0 0 0 #ffffff, 0 2px 0 0 #ffffff, 2px 2px 0 0 #ffffff,
    2px 0 0 0 #ffffff inset, 0 2px 0 0 #ffffff inset;
}
.FAQ .FAQ-container .FAQ-item p {
  display: inline-block;
  margin: 0;
}
.footer {
  background: #0a0a0a;
  padding: 64px 64px 0 64px;
}
.footer .footer-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
}
.footer .footer-container .footer-item > p {
  font-size: var(--large-fontsize);
  font-weight: 800;
}
.lastfooter {
  padding: 8px;
}
.lastfooter > span:first-child {
  font-size: 32px;
  margin-right: 16px;
}
.lastfooter > span:last-child {
  font-size: 12px;
}
