@font-face {
  font-family: NanumGothic;
  src: url(/font/NanumGothic-Regular.ttf);
}
:root {
  /* color */
  --white-color: rgb(255, 255, 255);
  --black-color: #000;
  --gray-color: #ddd;
  --main-color: #44dae3;
  --yellow-color: rgb(248, 248, 38);
  /* font-size */
  --title-fontsize: 36px;
  --large-fontsize: 18px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: NanumGothic;
  list-style: none;
  color: var(--white-color);
}
.title-font {
  font-family: "Noto Sans KR", sans-serif;
}
.header {
  display: flex;
  padding: 28px 36px;
  background: var(--black-color);
  justify-content: space-around;
}
.header .header-logo {
  font-size: var(--title-fontsize);
  display: flex;
}
.header .header-logo i {
  color: var(--yellow-color);
  display: block;
  margin: auto;
}
.header .header-logo p {
  margin: 0;
}
.header .header-menu {
  display: flex;
  margin: auto;
  padding-left: 128px;
}
.header .header-menu .menu {
  font-size: var(--large-fontsize);
  padding: 4px 16px;
}
.header .header-menu img {
  width: 22px;
  position: relative;
  left: 12px;
}
